/* General Styles */
.geometry-list {
  width: 100%;
  max-height: 100%;
  max-width: 500px;
  list-style: none;
  padding: 0;
  margin: 0 auto; /* Center horizontally */
  overflow-y: auto;
  padding: 15px;
  box-sizing: border-box; /* Include padding in width and height */
}

.geometry-list::-webkit-scrollbar {
  width: 8px;
}

.geometry-list::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 5px;
}

.list-group-item {
  background-color: #1e1e1e;
  border: 1px solid #333;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  display: flex;
  flex-direction: column;
}

.list-group-item:last-child {
  margin-bottom: 0;
}

.geometry-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.geometry-name {
  font-weight: 600;
  font-size: 16px;
  color: #f5f5f5;
  flex: 1; /* Allow to use remaining space */
}

.geometry-actions {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Space between color picker and delete button */
}

.color-picker {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-sizing: border-box; /* Ensure size is respected */
}

.color-picker:hover {
  transform: scale(1.1);
}

.btn-delete {
  background: none;
  border: none;
  color: #ff5c5c;
  cursor: pointer;
  padding: 4px;
  transition: color 0.3s ease;
}

.btn-delete img {
  vertical-align: middle;
}

.geometry-positions {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: space-between;
}

.position-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-bottom: 10px;
}

.position-group label {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 4px;
}

.position-input {
  background-color: #2a2a2a;
  border: 1px solid #444;
  color: #f5f5f5;
  text-align: center;
  padding: 6px;
  width: 60px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Include padding and border in width and height */
}

.position-input:focus {
  background-color: #333;
  outline: none;
  border-color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
  .geometry-name {
    font-size: 14px;
  }

  .color-picker {
    width: 20px;
    height: 20px;
  }

  .position-input {
    width: 50px;
  }
}

@media (max-width: 480px) {
  .geometry-list {
    height: 60vh;
    padding: 10px;
  }

  .list-group-item {
    padding: 10px;
  }

  .geometry-name {
    font-size: 12px;
  }

  .color-picker {
    width: 18px;
    height: 18px;
  }

  .position-input {
    width: 40px;
    padding: 4px;
  }
}
