<ul class="geometry-list">
  <p class="h6 text-light text-center">Geometries</p>
  <li class="list-group-item" *ngFor="let geo of geometries">
    <div class="geometry-header">
      <span class="geometry-name">{{ geo.name }}</span>
      <div class="geometry-actions">
        <input type="color" class="color-picker" [(ngModel)]="geo.color" />
        <button (click)="deleteGeometry(geo.id)" class="btn-delete">
          <img width="16" height="16" src="https://img.icons8.com/material-outlined/24/FA5252/trash--v1.png" alt="Delete"/>
        </button>
      </div>
    </div>
    <div class="geometry-positions">
      <div class="position-group">
        <label for="position-x-{{geo.id}}">X</label>
        <input id="position-x-{{geo.id}}" type="number" [(ngModel)]="geo.position.x" class="position-input">
      </div>
      <div class="position-group">
        <label for="position-y-{{geo.id}}">Y</label>
        <input id="position-y-{{geo.id}}" type="number" [(ngModel)]="geo.position.y" class="position-input">
      </div>
      <div class="position-group">
        <label for="position-z-{{geo.id}}">Z</label>
        <input id="position-z-{{geo.id}}" type="number" [(ngModel)]="geo.position.z" class="position-input">
      </div>
    </div>
  </li>
</ul>
