<div class="edit-page">
  <!-- 3D Map -->
  <div class="playground">
    <app-three-container/>
  </div>
  <!-- Geometry List -->
  <div class="geometry-list-container">
    <app-geometry-list/>
  </div>
</div>
<app-geometry-form/>
