.edit-page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "content sidebar";
  height: 100vh;
}

.playground {
  grid-area: content;
}

.geometry-list-container {
  grid-area: sidebar;
}


.geo-button {
  position: absolute;
  bottom: 10px;
  right: 150px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .edit-page {
    grid-template-rows: 1fr;
    grid-template-areas:
      "content"
      "sidebar";
  }

  .geometry-list-container {
    max-height: 200px;
  }
}
