.three-container {
  width: 100%;
  height: 100% !important;
  position: relative;
}

.dropup {
  position: absolute; /* Position inside the three-container */
  bottom: 10px; /* Space from the bottom */
  right: 10px; /* Space from the right */
}

.dropup-content {
  background-color: #2a2a2a;
  border-radius: 8px;
  border: 1px solid #444; /* Border around the dropup */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  width: auto; /* Width based on content */
  bottom: 40px;
  position: absolute;
  z-index: 1; /* Ensure it appears above other content */
  display: none; /* Hidden by default */
}

.show{
  display: block;
}

.dropup-item {
  background: none;
  border: none;
  display: block;
  align-items: center;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.dropup-item:hover, .dropup-item.active {
  background-color: #3a3a3a;
}

.toolbar-icon {
  margin-right: 8px;
  font-size: 18px;
}
