<div class="three-container" #threeContainer>
  <!-- Toolbar -->
  <div class="dropup">
    <div class="dropup-toolbar dropup">  
    <button class="btn btn-dark dropdown-toggle" (click)="toggleToolbar()">
      🛠 Tools
    </button>
    <div class="dropup-content" [ngClass]="{'show': toolbarVisible}">
      <button
        *ngFor="let mode of transformModes"
        class="dropup-item"
        [ngClass]="{'active': selectedMode === mode.value}"
        (click)="selectTransformMode(mode.value)"
      >
        <span class="toolbar-icon" [innerHTML]="mode.icon"></span>
        {{ mode.label }}
      </button>
    </div>
  </div>
</div>
