/* Toolbar */
.toolbar {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  background: #2c2c2c;
  border-radius: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 100;
  padding: 0;

}

.toolbar .btn {
  border-radius: 5em;
  border: none;
  margin: 0;
}

.toolbar .btn:hover {
  background-color: #0056b3;
}

/* Popup Form */
.popup-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.popup-content {
  background: #333;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  margin-bottom: 1rem;
}

.btn-group {
  display: flex;
  gap: 0.5rem;
}

.btn {
  background: #444;
  color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-active {
  background: #007bff;
  color: #fff;
  border-color: #007bff;
}

.btn:hover {
  background: #555;
}

.form-control {
  background: #444;
  color: #fff;
  border: 1px solid #555;
}

.form-control:focus {
  border-color: #007bff;
  background: #333;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
