<!-- Toolbar for Adding Geometry -->
<div class="toolbar">
  <button class="btn btn-dark fab" (click)="toggleForm()">
    <img width="24" height="24" src="https://img.icons8.com/android/24/FFFFFF/plus.png" alt="plus"/>
  </button>
</div>

<!-- Popup Form -->
<div class="popup-form" *ngIf="formVisible">
  <div class="popup-content">
    <form [formGroup]="geometryForm">
      <div class="form-row">
        <div class="form-group col">
          <label>Geometry</label>
          <div class="btn-group" role="group">
            <button
              *ngFor="let mode of geometryModes"
              type="button"
              class="btn"
              [ngClass]="{'btn-active': geometryForm.controls.name.value === mode.value}"
              (click)="selectGeometry(mode.value)"
            >
              <span class="toolbar-icon" [innerHTML]="mode.icon"></span>
              {{ mode.label }}
            </button>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label>Color</label>
          <input type="color" class="form-control" formControlName="color" />
        </div>
      </div>
      <div class="form-actions">
        <button type="button" class="btn btn-primary" (click)="addGeometry()">
          Add Geometry
        </button>
        <button type="button" class="btn btn-secondary" (click)="toggleForm()">
          Close
        </button>
      </div>
    </form>
  </div>
</div>
