<app-loader *ngIf="isLoading"></app-loader>

<div [ngClass]="contentClass" *ngIf="!isLoading" data-bs-theme="dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Awal</a>
        </li>
        <li class="nav-item mid" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/">✎ Edit</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="show">⛶ Show</a>
        </li>
      </ul>
    </div>
  </nav>  
  <router-outlet></router-outlet>
</div>

