.navbar {
  position: fixed;
  z-index: 1;
  margin: 1em;
  border-radius: 1em;
  padding: 0 0.5em;
}

.mid {
  border-left: 2px solid #5c5e63;
  border-right: 2px solid #5c5e63;
}

/* Initially hide the content */
.hidden-content {
  opacity: 0;
  transition: opacity 4s ease-in;
}

/* When the content is ready to be shown */
.show-content {
  opacity: 1;
}
